html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 430px;
    min-height: 280px;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    background: #ecf0f1;
}

.main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    background: #2980B9;
}

.main-menu li {
    margin-right: -4px;
    display: inline-block;
    border-left: 2px solid #2C3E50;
}

.main-menu a {
    display: block;    
    padding: 10px 14px 10px 15px; 
    color: white;
    text-decoration: none;
    text-align: center;
}

.main-menu .active a {
    background: #1ABC9C;
}
